<div>
  <h2>Add a new task</h2>
  <!--<div class="grid grid-pad">
  <div *ngFor="let hero of heroes" [routerLink]="['/detail', hero.id]" class="col-1-4">
    <div class="module hero">
      <h4>{{hero.name}}</h4>
    </div>
  </div>
</div>-->
  <div>
    <div>
      <label>Name: </label>
      <!--<input [(ngModel)]="hero.name" placeholder="name"/>-->
      <input placeholder="name"/>
    </div>
    <div>
      <textarea cols="50" rows="20"></textarea>
    </div>
    <button (click)="save()">Save</button>
  </div>
</div>
